
    
      <div class="row">
        
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <p>Hey! My name is Ansh Thakkar. I am currently persuing the CPA course from Seneca College. I liked programming from the starting of my life and have decided to opt for this course.  </p>
            <p>There have been many hurdles I had to face at the intitial point of starting to learn coding but undoubtedly, I overcame all of them. </p>
            <p>There are a plethora of events I am personally interested in but my most liked interest lies in running or athletics. I have been a fast runner since childhood and my only dream other than to become a web developer is to excel in athletics. I am planning to join the gym of Seneca College, in order to make world records in running. My only inspiration in this field is Ussain Bolt and I have a strong feeling that if trained properly, I would be able to break his world record of 100m track (9.58s).</p>
            <p>As a human being, I believe that physical fitness is not less important as your mental fitness. A healthy intake is a lot beneficial in order to make your brain perform smoothly. </p>
          </article>
        </section>
        <aside class="col-md-3">
          <h2>Coming Soon</h2>
          <p>Stay tuned for future updates! </p>
        </aside>
      </div>
  

    
